<div class="col jumbotron" style="margin:1%" v-show="item.owner !== '0x0000000000000000000000000000000000000000'">

    <button type="button" class="close" aria-label="Close" @click="$emit('destroy', item.address)">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="text-center">
        <img v-bind:src="item.imageUrl" class="rounded border" width="90%" height="300px">
        <br>
        <br>
        <br>
    </div>

    <ul>
        <li>
            <strong>Image Url:</strong>
            <a v-bind:href="item.imageUrl">{{ item.imageUrl }}</a>
        </li>
        <li>
            <strong>Auction Owner:</strong>
            <span>{{ item.owner }}</span>
        </li>
        <li>
            <strong>Auction Address:</strong>
            <span>{{ item.address }}</span>
        </li>
        <li>
            <strong>Max Stake:</strong>
            <span v-bind:id="'max-bid-' + item.address">{{ item.maxBid }}</span>
        </li>
        <li>
            <strong>Current Winner:</strong>
            <span v-bind:id="'max-bidder-' + item.address">{{ item.maxBidder }}</span>
        </li>
    </ul>

    <br>

    <input type="number" v-bind:id="'bid-value-' + item.address" class="form-control-sm" placeholder="In Ether" />
    <button @click="$emit('bid', item.address)" class="btn btn-primary">Add Bid</button>
    <button @click="$emit('calculate-bid', item.address)" class="btn btn-success">Calculate Bid</button>

    <div class="text-right">
        <h5 v-bind:id="'timer-' + item.address"></h5>
        <br>

        <button @click="$emit('withdraw', item.address)" v-bind:id="'expired-' + item.address" type="button" class="btn btn-outline-warning">
            Withdraw
        </button>

        <button @click="$emit('cancel', item.address)" type="button" class="btn btn-link">
            Cancel
        </button>
    </div>
</div>